name: Deploy to EC2

on:
  push:
    branches:
      - main
      - frontend
      - backend

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/manflow
            git fetch --all
            git checkout -B ${{ github.ref_name }} origin/${{ github.ref_name }}
            sudo docker-compose down
            sudo docker system prune -a -f
            sudo docker volume prune -f
            sudo docker-compose up --build -d